.root {
  width: 20%;
  min-width: 20%;
  margin-right: 1em;

  & li {
    display: flex;
  }

  & a {
    color: #4e566d;
    padding: 0.5em;
    text-decoration: none;
    width: 100%;
  }

  & a.active {
    font-weight: bold;
    color: white;
    background-color: #627d98;
  }

  & li:first-child a.active {
    border-radius: 0.5rem 0.5rem 0 0;
  }
}
